<%
		// 显示50个标签
		var taglist = temp.tagsPageByFolder(1, 50, folder.id).list;
		
		// 列表数据
		var page = temp.articlePage(paginator.pageNo, paginator.pageSize, folder.id);
		
		// 公告
		var noticeList = temp.notice(folder.id);
%>

<% 
	var headContent = {
%>
	<% include("/template/mtg/includes/header.html"){} %>
	
	<script type="text/javascript" src="template/mtg/article/show_article.js"></script>
<%
};

var bodyContent = {
%>
<%  include("/template/mtg/includes/header_menu.html"){} %>	

<div class="container">

	<div class="row">
		<!-- TopPic -->
		<div  class="thumbnail" style="padding:0px;margin-bottom:5px;">
			<img width="100%" height="450" src="${BASE_PATH }jflyfox/mtg/article_image/20210821_115618_74360.jpg"/>
		</div>

	</div>

	<div class="row">
		<!-- 文章 -->
		<div class="panel panel-default">
		  <div class="panel-heading">
			<h3 class="panel-title">${folder.name }</h3>
		  </div>
		  	 <!-- 文章列表 -->
		 	 <% include("/template/mtg/includes/articlelist.html",{articlelist:page,defalutimg:defalutimg!''}){} %>
		</div>
	</div>

</div>
	
<%  include("/template/mtg/includes/footer.html"){} %>
	
<a id="scrollTop" href="javacript:void(0);" title="返回顶部" style="display: inline;"></a>
	
<%}; %>

<% layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){ %>
<%} %>

