<%
// 首页图片 13
var topPics = temp.rollPicture(1);

// 最新动态
var newArticles = temp.articlePageTop(1, 10, session.site.siteId);

// 新闻 2
var news = temp.articlePage(1, 10, 2);

// 美食 3
var foods = temp.articlePage(1, 10, 3);

// 旅游 4
var travels = temp.articlePage(1, 9, 4);

// 教育 5
var educations = temp.articlePage(1, 10,5);

// 公告
var noticeList = temp.notice(1);
%>

<% 
	var headContent = {
%>
	<% include("/template/mtg/includes/header.html"){} %>
	<meta property="qc:admins" content="3746002437626416766889" />
	<meta name="baidu-site-verification" content="HoZ9m9uIK" />
<script type="text/javascript">
<!--
	$(function(){
		$('.carousel').carousel({
			interval: 4000
		});
		
		// js加载避免优先级问题
		$('.more').css('float','right').css('font-size','12px').css('color','green');
		
		// 最新新闻
		$("#new_news_tab").on('mousemove',function(){
			$(this).parent('li').addClass('active');
			$("#new_dynamic_tab").parent('li').removeClass('active');
			$('#new_news').show();
			$('#new_dynamic').hide();
			return false;
		});
		
		// 最新动态
		$("#new_dynamic_tab").on('mousemove',function(){
			$(this).parent('li').addClass('active');
			$("#new_news_tab").parent('li').removeClass('active');
			$('#new_dynamic').show();
			$('#new_news').hide();
			return false;
		});
	});
//-->
</script>
<%
};
%>

<%
var bodyContent = {
%>
<%  include("/template/mtg/includes/header_menu.html"){} %>

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
	<div class="container">
		<div class="row">
			<!-- 滚动图片 -->
		 	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			  <!-- Indicators -->
			  <ol class="carousel-indicators">
				  <% for(item in topPics){ %>
					<li data-target="#carousel-example-generic" data-slide-to="${itemLP.index-1}" ${itemLP.index==1?"class=\"active\"":""}></li>
				  <%}%>
			  </ol>

			  <!-- Wrapper for slides -->
			  <div class="carousel-inner" role="listbox">
				<% for(item in topPics){ %>
					<div class="item ${itemLP.index==1?'active':''}">
					  <% if(strutil.isNotEmpty(item.url)) { %>
					  <a href="${item.url}" target="_blank">
					  <% } %>
						<img src="${flyfox.getImage(item)}" alt="${item.title}">
					  <% if(strutil.isNotEmpty(item.url)) { %>
					  </a>
					  <% } %>
					</div>
				<% } %>
			  </div>
		</div>
	</div>
</div>
</section>

<main id="main">
	<!-- ======= Featured Services Section ======= -->
	<section id="featured-services" class="featured-services">
		<div class="container">

			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="icon-box">
						<div class="icon"><i class="bi bi-laptop"></i></div>
						<h4 class="title"><a href="">Lorem Ipsum</a></h4>
						<p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mt-4 mt-md-0">
					<div class="icon-box">
						<div class="icon"><i class="bi bi-card-checklist"></i></div>
						<h4 class="title"><a href="">Dolor Sitema</a></h4>
						<p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
					<div class="icon-box">
						<div class="icon"><i class="bi bi-clipboard-data"></i></div>
						<h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
						<p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
					</div>
				</div>
			</div>

		</div>
	</section><!-- End Featured Services Section -->

	<!-- ======= About Section ======= -->
	<section id="about" class="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<img src="${BASE_PATH }template/mtg/includes/assets/img/about.png" class="img-fluid" alt="">
				</div>
				<div class="col-lg-6 pt-4 pt-lg-0 content">
					<h3>Voluptatem dignissimos provident quasi corporis voluptates</h3>
					<p class="fst-italic">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
						magna aliqua.
					</p>
					<ul>
						<li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
						<li><i class="bi bi-check-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
						<li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda</li>
					</ul>
					<p>
						Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
						velit esse cillum dolore eu fugiat nulla pariatur.
					</p>
				</div>
			</div>

		</div>
	</section><!-- End About Section -->

	<!-- ======= Counts Section ======= -->
	<section id="counts" class="counts">
		<div class="container">
			<div class="row counters">
				<div class="col-lg-3 col-6 text-center">
					<span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
					<p>Clients</p>
				</div>

				<div class="col-lg-3 col-6 text-center">
					<span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
					<p>Projects</p>
				</div>

				<div class="col-lg-3 col-6 text-center">
					<span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
					<p>Hours Of Support</p>
				</div>

				<div class="col-lg-3 col-6 text-center">
					<span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
					<p>Hard Workers</p>
				</div>
			</div>
		</div>
	</section><!-- End Counts Section -->

	<!-- ======= Portfolio Section ======= -->
	<section id="portfolio" class="portfolio">
		<div class="container">
			<div class="section-title">
				<span>Service</span>
				<h2>我们的服务</h2>
				<p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
			</div>
			<div class="row">
				<div class="col-lg-12 d-flex justify-content-center">
					<ul id="portfolio-flters">
						<li data-filter="*" class="filter-active">All</li>
						<li data-filter=".filter-app">App</li>
						<li data-filter=".filter-card">Card</li>
						<li data-filter=".filter-web">Web</li>
					</ul>
				</div>
			</div>
			<div class="row portfolio-container">
				<% for(item in travels.list){ %>
				<div class="col-lg-4 col-md-6 portfolio-item filter-app">
					<img src="${flyfox.getImage(item)}" class="img-fluid" alt="${item.title}">
					<div class="portfolio-info">
						<h4>${item.title}</h4>
						<!--
						<p>App</p>
						<a href="${flyfox.getImage(item)}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="${item.title}"><i class="bx bx-plus"></i></a>
						-->
						<a href="${BASE_PATH }front/article/${item.id}.html" target="_blank" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
					</div>
				</div>
				<% } %>

			<div class="col-lg-4 col-md-6 portfolio-item filter-card">
				<img src="${BASE_PATH }template/mtg/includes/assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
				<div class="portfolio-info">
					<h4>Card 2</h4>
					<p>Card</p>
					<a href="${BASE_PATH }template/mtg/includes/assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
					<a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 portfolio-item filter-web">
				<img src="${BASE_PATH }template/mtg/includes/assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
				<div class="portfolio-info">
					<h4>Web 2</h4>
					<p>Web</p>
					<a href="${BASE_PATH }template/mtg/includes/assets/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
					<a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
				</div>
			</div>

			</div>

		</div>
	</section><!-- End Portfolio Section -->


	<!-- ======= Contact Section ======= -->
	<section id="contact" class="contact">
		<div class="container">

			<div class="section-title">
				<span>Contact</span>
				<h2>联系我们</h2>
			</div>

			<div class="row">
				<div class="col-lg-5 d-flex align-items-stretch">
					<div class="info">
						<div class="address">
							<i class="bi bi-geo-alt"></i>
							<h4>Location:</h4>
							<p>A108 Adam Street, New York, NY 535022</p>
						</div>

						<div class="email">
							<i class="bi bi-envelope"></i>
							<h4>Email:</h4>
							<p>info@example.com</p>
						</div>

						<div class="phone">
							<i class="bi bi-phone"></i>
							<h4>Call:</h4>
							<p>+1 5589 55488 55s</p>
						</div>

					</div>

				</div>

				<div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
					<form action="forms/contact.php" method="post" role="form" class="php-email-form">
						<div class="row">
							<div class="form-group col-md-6">
								<label for="name">Your Name</label>
								<input type="text" name="name" class="form-control" id="name" required>
							</div>
							<div class="form-group col-md-6 mt-3 mt-md-0">
								<label for="name">Your Email</label>
								<input type="email" class="form-control" name="email" id="email" required>
							</div>
						</div>
						<div class="form-group mt-3">
							<label for="name">Subject</label>
							<input type="text" class="form-control" name="subject" id="subject" required>
						</div>
						<div class="form-group mt-3">
							<label for="name">Message</label>
							<textarea class="form-control" name="message" rows="10" required></textarea>
						</div>
						<div class="my-3">
							<div class="loading">Loading</div>
							<div class="error-message"></div>
							<div class="sent-message">Your message has been sent. Thank you!</div>
						</div>
						<div class="text-center"><button type="submit">Send Message</button></div>
					</form>
				</div>

			</div>

		</div>
	</section><!-- End Contact Section -->

</main>

<%  include("/template/mtg/includes/footer.html"){} %>
	
<a id="scrollTop" href="javacript:void(0);" title="返回顶部" style="display: inline;"></a>
	
<%}; %>

<% layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){ %>
<%} %>
