<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
	<div class="container d-flex align-items-center justify-content-between">
		<h3 class="logo">
			<a class="navbar-brand" href=""><img alt="Brand" width="20" height="20" src="${BASE_PATH }static/front/logo.png"></a>
			<a href="">eNno</a>
		</h3>
		<!-- Uncomment below if you prefer to use an image logo -->
		<!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
		<nav id="navbar" class="navbar">
			<ul>
			<% if (!isEmpty(folders)){
				for(item in folders["0"]){
					var childs = folders[item.id+''];
					if(isEmpty(childs)) {
			%>
				<% if(item.type==1){ %>
				<li class="nav-link scrollto ${item.id==folders_selected!''?'active':''} "><a href="${BASE_PATH }${flyfox.getMenu(item.id)}.html">${item.name}</a></li>
				<% } else if(item.type==2){ %>
				<li class="nav-link scrollto ${item.id==folders_selected!''?'active':''} "><a href="${strutil.startWith(item.jump_url,'http')?'':BASE_PATH}${item.jump_url}">${item.name}</a></li>
				<% } else if(item.type==3){ %>
				<li class="nav-link scrollto ${item.id==folders_selected!''?'active':''} "><a href="${strutil.startWith(item.jump_url,'http')?'':BASE_PATH}${item.jump_url}" target="_blank">${item.name}</a></li>
				<% } else if(item.type==4){ %>
				${item.jump_url}
				<% } %>
			<%
			}else {
			%>
				<li class="dropdown"><a href="javascript:void(0);"><span>${item.name}</span> <i class="bi bi-chevron-down"></i></a>
					<ul>
						<% for(childsItem in childs){ %>
						<% // 如果是跳转到admin后台管理页面，那么必须是登录并且是管理员 %>
						<% if(childsItem.type==1){ %>
						<li class="${childsItem.id==folders_selected!''?'active':''} "><a href="${BASE_PATH }${flyfox.getMenu(childsItem.id)}.html">${childsItem.name}</a></li>
						<% } else if(childsItem.type==2){ %>
						<li class="${childsItem.id==folders_selected!''?'active':''} "><a href="${strutil.startWith(childsItem.jump_url,'http')?'':BASE_PATH}${childsItem.jump_url}">${childsItem.name}</a></li>
						<% } else if(childsItem.type==3){ %>
						<li class="${childsItem.id==folders_selected!''?'active':''} "><a href="${strutil.startWith(childsItem.jump_url,'http')?'':BASE_PATH}${childsItem.jump_url}" target="_blank">${childsItem.name}</a></li>
						<% } else if(childsItem.type==4){ %>
						${childsItem.jump_url}
						<% } %>
						<% } %>
					</ul>
				</li>
				<%
						}
					}
				}
				%>
				<li><a class="nav-link scrollto" href="home.html#contact">联系我们</a></li>
			</ul>
			<i class="bi bi-list mobile-nav-toggle"></i>
		</nav><!-- .navbar -->
	</div>
</header><!-- End Header -->